<nav
  class="fixed top-0 flex-no-wrap flex w-full items-center justify-between bg-[#FBFBFB] py-2 shadow-md shadow-black/5 dark:bg-neutral-600 dark:shadow-black/10 lg:flex-wrap lg:justify-start lg:py-4"
>
  <div
    class="!visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto"
    id="navbarSupportedContent1"
    data-twe-collapse-item
  >
    <ul
      class="list-style-none me-auto flex flex-col ps-0 lg:flex-row"
      data-twe-navbar-nav-ref
    >
      <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
        <a
          class="text-neutral-500 transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-neutral-700 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-300 dark:focus:text-neutral-300 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-zinc-400"
          href="/"
          data-twe-nav-link-ref
          >{{ "navigation.list-of-cars" | translate }}</a
        >
      </li>
    </ul>
  </div>
</nav>
