<nav
  class="fixed top-0 flex-no-wrap flex w-full items-center justify-between bg-blue-400 py-2 flex-wrap"
>
  <div class="!visible flex-grow items-center !flex basis-auto">
    <ul class="list-style-none me-auto flex flex-row">
      <li class="pe-2">
        <a
          class="text-neutral-500 transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-neutral-700 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-300 dark:focus:text-neutral-300 px-2 [&.active]:text-black/90 dark:[&.active]:text-zinc-400"
          href="/"
          >{{ "navigation.list-of-cars" | translate }}</a
        >
      </li>
    </ul>
  </div>
</nav>
