<div class="flex-col gap-2 border border-blue-400 rounded p-2">
  <app-button
    text="{{ 'common.remove' | translate }}"
    (click)="removeClicked.emit(carDetails.id)"
  ></app-button>
  <div>
    <p>
      {{ "car-details.manufacturer" | translate }}:
      <span class="font-medium">{{ carDetails.manufacturer }}</span>
    </p>
    <p>
      {{ "car-details.license" | translate }}:
      <span class="font-medium">{{ carDetails.license }}</span>
    </p>
    <p>
      {{ "car-details.vin" | translate }}:
      <span class="font-medium">{{ carDetails.license }}</span>
    </p>
    <div>
      <p>{{ "car-details.current-position" | translate }}</p>
      <app-address-preview
        class="border rounded border-slate-400 p-1"
        [address]="carDetails.position.address"
      ></app-address-preview>
      <p>
        {{ "car-details.rented" | translate }}:
        <span class="font-medium">{{
          (carDetails.rentedBy ? "common.yes" : "common.no") | translate
        }}</span>
      </p>
    </div>
  </div>
  <div *ngIf="carDetails.rentedBy">
    <p>{{ "car-details.rented-by" | translate }}</p>
    <p>
      {{ carDetails.rentedBy.firstName }}
      {{ carDetails.rentedBy.firstName }}
      {{ carDetails.rentedBy.email }}
    </p>
    <app-address-preview
      class="border rounded border-slate-400 p-1"
      [address]="carDetails.rentedBy.address"
    ></app-address-preview>
  </div>
</div>
